/* Default Styles for Birt iframe.
   The styles are based on the UI Style Guide set. */

body, html {
  font-family: 'Lucida Grande',Arial,sans-serif;
  font-size: 100%;
  line-height: 1.125em;
  margin: 0;
  padding: .3em }

.specification {
	border-bottom: 1px solid #e6e6e6;
	color: #9a9a9a;
	font-size: .8em;
	margin: 0 0 1em;
	padding: 0 0 .5em }

.table {
  border: 0;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse }

table.main td {
  padding: 0 }

table.header {
  border: 0;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse }

table.header td {
    padding: 4px;
    color: white;
    vertical-align: middle }

.bigCell {
  font-weight: bold;
  padding: .2em 1em .8em 0;
  vertical-align: top; }

.paramCell {
  background-color:#F0F0F0;
  padding:2px }

.paramHint {
  font-style:italic }

.inputError,
.inputErrorlabel {
  color:red }
