
body, html {
    margin: 2px;
    padding: 2px;
}

body {
    font: normal 12px Verdana, sans-serif;
}

table.main {
    border: 0px;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.main td {
    padding: 0px;
}

table.header {
    background-color:black;
    border: 0px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.header td {
    font: normal 12px Verdana, sans-serif;
    padding: 4px;
    color: white;
    vertical-align: middle;
}

.inputErrorlabel {
  color:red;
}
.inputError {
  color:red;
}

.bigCell {
  background-color:#F0F0F0;
  padding:2px;
  vertical-align: top;
  font-weight:bold;
}

.paramCell {
  background-color:#F0F0F0;
  padding:2px;
}

.paramHint {
  font-style:italic;
}

